[rhel-9-for-x86_64-appstream-eus-rpms]
name = rhel-9-for-x86_64-appstream-eus-rpms
baseurl = http://10.222.30.11/openstack/rhel-9-for-x86_64-appstream-eus-rpms
gpgcheck = 0
enabled = 1

[rhel-9-for-x86_64-baseos-eus-rpms]
name = rhel-9-for-x86_64-baseos-eus-rpms
baseurl = http://10.222.30.11/openstack/rhel-9-for-x86_64-baseos-eus-rpms
gpgcheck = 0
enabled = 1
